*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

main section {
    height: 300px;
    width: 300px;
}

main section:nth-child(1){
    background-color: rgb(113, 207, 207);
}

main section:nth-child(2){
    background-color: rgb(196, 109, 109);
}

main section:nth-child(3){
    background-color: rgb(169, 101, 196);
}