div {
    text-align: center;
}

h1 {
    font-size: 64px;
    color:darkgreen;
}

h2 {
    color: darkgreen;
}

.texto-banner {
    background-color: #e0ffe9c4;
    padding: 32px;

}

.banner{
    height: fit-content;
    width: 1200px;
    background-image: url('https://cdn.apartmenttherapy.info/image/upload/v1607018911/at/art/design/2020-12/pattern%20of%20the%20year/Promo/POTY_2021_3000x2000.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
}

.btn {
    padding: 16px 32px;
    margin-top: 32px;
    background-color: rgb(127, 193, 255);
    border-radius: 8px;
    color: white;
    background-color: darkgreen;
}